
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background: #cfd9df;
    font-family: 'Roboto', sans-serif;
    margin:0;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    background-color:black;
    justify-content: flex-end;
}

nav ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em;
    display: block;
}

nav ul li a{
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    display:block;
    padding: 15px;
}
nav ul li a.active{
    background-color: #d30e9e;
    color:white;
}
nav ul li  a:hover:not(.active){
    background-color: white;
    color:black
}
@media screen and (max-width: 800px) {
    nav ul {
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px){
    nav ul {
        flex-flow: column;
    }
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    background:rgba(172, 33, 82, 0.33);
    color:white;
    text-align: left;
}
th, td{
    border: 1px solid rgb(201, 191, 191);
    padding: 0.5em
}
tr:nth-child(odd){
    background: #dce5f4;
}
tr:hover{
    background: rgba(82, 43, 63, 0.641);
    color: white
}